<!--
  The GA snippet
-->
<script>
  if (localStorage.getItem('cookiesConsent') === 'true') {
    // Global site tag (gtag.js) - Google Analytics
    const gtagScript = document.createElement('script');
    gtagScript.defer = true;
    const ID = '{{ site.google_analytics.id }}'
    gtagScript.src = `https://www.googletagmanager.com/gtag/js?id=${ID}`;
    const { currentScript } = document;
    currentScript.parentElement.insertBefore(gtagScript, currentScript);

    document.addEventListener("DOMContentLoaded", function(event) {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}

      gtag('js', new Date());
      gtag('config', '{{ site.google_analytics.id }}');
    });
  }
</script>
